@import url('https://fonts.googleapis.com/css?family=Lato');
$primary-color: #006400;
$secondary-color: #007E00;
$highlight: #FFAD25;
$highlight2: #E0E0E0;
$primary-border: 1px solid #939393;


body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  margin: 0;
  font-size: 18px;
}

a {
  text-decoration: none;
  position: relative;
  top: -15px;
}

.fcc {
  background: $primary-color;
  color: white;
  font-family: "Lato", sans-serif;
}

.logo {
  width: 100%;
  height: 60px;
  line-height: 130px;

  img {
    height: 50px;
  }
}

.ldr {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;

  h2 {
    color: $primary-color;
    text-align: center;
  }
}

.board {
  display: table;
  border: $primary-border;
  border-collapse: collapse;
  width: 100%;

  a {
    color: #7a7a7a;
  }

  img {
    width: 40px;
    height: 40px;
    margin: 0 15px;
    border: 2px solid $primary-color;
    border-radius: 20%;
  }

  th {
    height: 40px;
    background: $secondary-color;
    color: white;
  }

  td {
    height: 60px;
  }

  th, td {
    border: $primary-border;
  }

  tr:nth-child(even) {
    background: $highlight;
    color: white;
  }

  tr:nth-child(odd) {
    color: $highlight;
  }

  .rank {
    padding-left: 10px;
    color: $primary-color;
  }

  .pts {
    text-align: center;
  }

  #recent, #alltime {
    cursor: pointer;
  }

  .selected {
    color: $highlight;
    text-decoration: underline;

    &::after {
      content: '\25bc';
      font-size: .75em;
    }
  }

}
